<table class="table">
  <thead class="table">
    <tr class="table">
      <th class="table">id</th>
      <th class="table">name</th>
      <th class="table">upc</th>
      <th class="table">description</th>
      <th class="table">quantity</th>
      <th class="table">price</th>
      <th class="table">in stock</th>
    </tr>
  </thead>
  <tbody class="table">
    <tr class="table" *ngFor="let board of boards">
      <td class="table">{{board.id}}</td>
      <td class="table">{{board.name}}</td>
      <td class="table">{{board.upc}}</td>
      <td class="table">{{board.description}}</td>
      <td class="table">{{board.quantityonhand}}</td>
      <td class="table">{{board.price}}</td>
      <td class="table">{{board.isinstock}}</td>
    </tr>
  </tbody>
</table>